{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSameLine": false,
	"requirePragma": false,
	"insertPragma": false,
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-packagejson"]
}
